<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="FruitServiceBaseUrl" value="http://localhost:8081"/>
    <add key="PathForReadingFiles" value="C:\Test\Import"/>
    <add key="PathForMovingFiles" value="C:\Test\ImportArchive"/>
    <add key="LogHandler" value="C:\Test\Log.txt"/>
  </appSettings>
</configuration>